#Menu ul
{
    list-style:none;
    padding-left: 10%;
}
#Menu ul li 
{
    background-color: rgb(250, 85, 9);
    border: 1px solid lime;
    width: 100px;
    height: 40px;
    font-weight: bold;
    line-height: 40px;
    text-align:center;
    float:left;
   font-size: 14;
}
#Menu  ul li a  
{
    color:white;
    text-decoration:none;
    display:block;

}
#Menu ul li a:hover
{
    background-color: green;
}
#NTA1
{
    
    margin-left: 9%;
    WIDTH:700PX;
    color:red;
    margin-top: 20%; 
    font-weight: bold;   
    
}